.swiperWrapper {
  position: relative;
}

.swiperSlide {
  width: 50%;
}

.imageWrapper {
  margin: 0 auto;
  width: 240px;

  @include media(mobile) {
    width: 300px;
  }

  @include media(tablet) {
    width: 616px;
  }
  @include media(desktop) {
    width: 616px * 1.3;
  }
}

.btnPrev,
.btnNext {
  position: absolute;
  top: 50%;
  z-index: 50;
  background-color: #ffffffaa;

  & svg {
    fill: $primary-text-color;
  }

  &:disabled {
    opacity: 0.5;

    & svg {
      opacity: 0.5;
    }
  }
}

.btnPrev {
  left: 4px;
  @include media(mobile) {
    left: calc(50% - 195px);
  }
  @include media(tablet) {
    left: calc(50% - 380px);
  }
  @include media(desktop) {
    left: calc(50% - 550px);
  }
}

.btnNext {
  right: 4px;
  @include media(mobile) {
    right: calc(50% - 195px);
  }
  right: calc(50% - 210px);
  @include media(tablet) {
    right: calc(50% - 380px);
  }
  @include media(desktop) {
    right: calc(50% - 550px);
  }
}
