.cartPaymentsTitle {
  color: $primary-text-color;
  @include font(28, 36);
  font-weight: 500;
  margin-bottom: 32px;

  @include media(tablet) {
    @include font(32, 36);
  }
}

.listPayments {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;

  @include media(tablet) {
    gap: 48px;
  }

  @include media(desktop) {
    margin-bottom: 110px;
  }

  .listPaymentsTitleText {
    @include font(16, 24);
    font-weight: 500;
    color: $primary-text-color;
  }
}

.cartPaymentsInput {
  display: none;

  + .cartPaymentsLabel {
    cursor: pointer;
    display: flex;

    .listPaymentsOnline {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50px;
      border: 2px solid $disabled-content-color;
      margin-right: 12px;
      fill: transparent;
    }

    .cartFormSVG {
      width: 28px;
      height: 28px;
      margin: -2px;
    }
  }

  &:checked + .cartPaymentsLabel .listPaymentsOnline {
    background-color: $light-color;
    border: none;
    fill: $pet-color;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
