.productItem {
  width: 343px;
  padding-bottom: 32px;
  position: relative;

  @include media(tablet) {
    width: 340px;
  }

  @include media(desktop) {
    width: 300px;
  }
}

.imageWarpper {
  width: calc(100% - 2 * 1px); // 2 * 1px space size for borders
  height: 343px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  border-radius: 24px;
  border: 1px solid rgba(31, 31, 31, 0.15);
  margin-bottom: 24px;

  @include media(tablet) {
    height: 340px;
  }

  @include media(desktop) {
    height: 300px;
  }
}

.productImg {
  height: 100%;
}

.productName {
  height: 56px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 19px;
  color: $primary-text-color;
  @include font(20, 28);

  @include media(tablet) {
    @include font(24, 32);
    height: 64px;
  }
}

.productFooter {
  padding: 0 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceWrapper {
  display: flex;
  column-gap: 12px;
}

.price {
  color: #49494a;
  @include font(16, 24);
}

.sale {
  color: $pet-color;
}

.oldPrice {
  color: $disabled-content-color;
}

.cartBtn {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-text-color;

  & svg {
    width: 20px;
    height: 20px;
    fill: $light-color;
  }

  &:hover,
  &:focus {
    background-color: rgba(31, 31, 31, 0.8);
  }

  &[disabled] {
    background: rgba(31, 31, 31, 0.1);
    border: none;
    cursor: default;
    & svg {
      fill: $disabled-content-color;
    }
  }
}

.unavailable {
  .productImg {
    filter: grayscale(100%);
  }
  .productName {
    color: $disabled-content-color;
  }
  .price {
    color: $disabled-content-color;
  }
  & svg {
    fill: $disabled-content-color;
  }
}
