.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
  margin: 0 auto;
}
.loader {
  color: white;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.boxLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #1f1f1f1a;
  border-radius: 200px;
  margin-bottom: 8px;
  background-color: $pet-color;
  padding-top: 5px;
  padding-bottom: 35px;
  color: $light-color;
  @include font(18, 24);
  @include media(desktop) {
    min-width: 420px;
  }
}
