.section {
  margin: 48px 0;
}
.textBox {
  margin-bottom: 32px;
}
.iconArrow {
  width: 13px;
  height: 12px;
}
.list {
  margin-bottom: 48px;
}

.text {
  width: 343px;
  height: 224px;

  /* H6 */
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  /* Basic/900 */
  color: #1f1f1f;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
