.wrapper {
  @include media(desktop) {
    display: flex;
    column-gap: 32px;
  }
}

.selectedFiltersWrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
