.roundButton {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1f1f1f1a;
  border-radius: 100px;

  & svg {
    width: 24px;
    height: 24px;
    fill: $light-color;
  }

  &:focus {
    outline: none;
  }

  @include media(tablet) {
    width: 50px;
    height: 50px;
    padding: 12px;
  }

  @include media(desktop) {
    width: 58px;
    height: 58px;
    & svg {
      width: 32px;
      height: 32px;
    }
  }
}
