.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(31, 31, 31, 0.2);
  border-radius: 200px;
  padding: 12px 24px;
  width: 120px;
  height: 48px;

  @include media(tablet) {
    padding: 12px 20px;
    width: 123px;
    height: 56px;
  }
}

.btn {
  &:disabled {
    fill: #cccccc;
    cursor: not-allowed;
  }
  & svg {
    display: flex;
  }
}

.quantityText {
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  margin: 0 16px;
}
