.boxpagination {
  max-width: 343px;
  display: flex;
  padding: 32px 16px 48px 16px;
  align-items: center;
  color: $primary-text-color;
  justify-content: space-between;
  @include font(18, 24);
  @include media(tablet) {
    @include font(24, 32);
    padding: 48px 128px 68px 128px;
  }
  @include media(desktop) {
    padding: 64px 250px 100px 250px;
  }
}
.boxpagination .pageNum {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid rgba(31, 31, 31, 0.2);
  @include media(tablet) {
    width: 56px;
    height: 56px;
  }
  svg {
    width: 24px;
    height: 24px;
    fill: $primary-text-color;
    @include media(tablet) {
      width: 32px;
      height: 32px;
    }
  }
}
.boxpagination .pageNum:hover,
.boxpagination .active {
  color: $light-color;
  background-color: $pet-color;
  .paginationIcon {
    fill: $light-color;
  }
}
.boxpagination li.next.disabled:hover,
.boxpagination li.previous.disabled:hover {
  background-color: $light-color;
  svg {
    fill: $disabled-content-color;
  }
}
.boxpagination .pageFigure:not(:last-child) {
  margin-right: 8px;
  @include media(tablet) {
    margin-right: 16px;
  }
}

.boxpagination .previous.disabled,
.boxpagination .next.disabled {
  .pageNum {
    background-color: $light-color;
    cursor: not-allowed;
  }
  svg {
    fill: $disabled-content-color;
  }
}

.previous {
  margin-right: 24px;
  @include media(tablet) {
    margin-right: 32px;
  }
}
.next {
  margin-left: 24px;
  @include media(tablet) {
    margin-left: 32px;
  }
}
