.itemBox {
  margin-top: 24px;
  border-bottom: 1px solid rgba(31, 31, 31, 0.1);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  @include media(tablet) {
    position: relative;
    align-items: flex-start;
  }
}

.itemproduct {
  display: flex;
  gap: 16px;
}
.itemInfo {
  width: 100%;
  @include media(tablet) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
.counter {
  width: 104px;
  margin-bottom: 24px;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 200px;
  border: 1px solid rgba(31, 31, 31, 0.2);
  cursor: pointer;
}
.classSvg {
  width: 16px;
  height: 16px;
}
.itemImg {
  width: 100px;
  height: 100px;
  border-radius: 24px;
  border: 1px solid rgba(31, 31, 31, 0.15);
  background-color: $light-color;
  @include media(tablet) {
    width: 160px;
    height: 160px;
    margin-bottom: 24px;
  }
}
.itemName {
  color: $primary-text-color;
  font-weight: 500;
  @include font(18, 24);
  margin-bottom: 8px;
  @include media(tablet) {
    @include font(24, 32);
    max-width: 289px;
    max-height: 64px;
    overflow: hidden;
  }
}
.itemColor {
  text-transform: capitalize;
}
.itemDetails {
  gap: 4px;
  color: $secondary-text-color;
  font-weight: 500;
  @include font(16, 24);
  margin-bottom: 12px;
}
.prices {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 20px;
  @include media(tablet) {
    position: absolute;
    top: 8px;
    right: 88px;
    flex-direction: column;
    gap: 12px;
  }
}
.itemPrice {
  color: $copyright-color;
  font-weight: 500;
  @include font(18, 24);
}
.itemPriceDisc {
  @extend .itemPrice;
  text-decoration: line-through;
}
.itemDiscPrice {
  color: $pet-color;
  font-weight: 500;
  @include font(18, 24);
}
.deleteBtn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 200px;
  background-color: $primary-text-color;
  svg {
    fill: $light-color;
    width: 20px;
    height: 20px;
  }
  @include media(tablet) {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.itemFooter {
  display: flex;
  justify-content: space-between;
}
.btnTest {
  position: absolute;
  top: 100px;
  left: 600px;
  padding: 20px;
  background-color: blue;
}
