.section {
  background-color: $pet-color;
}

.sectionContainer {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 16px;
  height: 640px;
  @include media(mobile) {
    width: $mobile;
  }
  @include media(tablet) {
    width: $tablet;
    height: 696px;
    padding: 0 32px;
  }
  @include media(desktop) {
    width: $desktop;
    height: 578px;
    padding: 0 64px;
  }
}

.brushAccent {
  color: $pet-color;
}
.boyAccent {
  color: $adult-color;
}
.catAccent {
  color: $child-color;
}

@keyframes slide1mobile {
  0% {
    transform: translateX(0);
    right: 100%;
  }
  100% {
    transform: translateX(100%);
  }
}

.slide1 {
  animation-name: slide1mobile;
  animation-duration: $dialog-item-animation-duration;
  position: absolute;
  z-index: 1;
  top: 48px;
  left: 0;
  @include media(tablet) {
    top: 64px;
  }
}

@keyframes slide2mobile {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide2 {
  animation-name: slide2mobile;
  animation-duration: $dialog-item-animation-duration;
  animation-delay: calc($dialog-item-animation-duration * 1);
  position: absolute;
  z-index: 1;
  top: 216px;
  right: 0;
  @include media(tablet) {
    top: 216px;
  }
  @include media(desktop) {
    top: 164px;
  }
}

@keyframes slide3mobile {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide3 {
  animation-name: slide3mobile;
  animation-duration: calc($dialog-item-animation-duration);
  animation-delay: calc($dialog-item-animation-duration * 2);
  position: absolute;
  z-index: 1;
  top: 320px;

  @include media(tablet) {
    top: 368px;
  }
  @include media(desktop) {
    top: 292px;
  }
}
@keyframes slide4mobile {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide4 {
  animation-name: slide4mobile;
  animation-duration: calc($dialog-item-animation-duration);
  animation-delay: calc($dialog-item-animation-duration * 3);
  position: absolute;
  z-index: 1;
  top: 515px;
  right: 0;
  @include media(tablet) {
    top: 512px;
  }
  @include media(desktop) {
    top: 394px;
  }
}

@mixin icon($_dialog-order-num) {
  $delay: calc($dialog-item-animation-duration * $_dialog-order-num);
  transform: scale(1);
  transition: transform $dialog-item-animation-duration linear 2.5;
}

.iconAnimation {
  transform: scale(1);
}

.iconWow {
  width: 104px;
  height: 64px;
  position: absolute;
  right: 64px;
  top: 139px;

  transform: scale(0);
  @include icon(1);

  @include media(tablet) {
    width: 132px;
    height: 83px;
    left: 520px;
    top: 96px;
  }
  @include media(desktop) {
    left: calc(50% - 65px);
    top: 96px;
  }
}

.iconHello {
  position: absolute;
  width: 104px;
  height: 77px;
  right: 235px;
  top: 415px;

  transform: scale(0);
  @include icon(3);

  @include media(tablet) {
    width: 132px;
    height: 83px;
    right: 41px;
    top: 363px;
  }
  @include media(desktop) {
    width: 132px;
    height: 83px;
    left: 80%;
    top: 363px;
  }
}
