$dialog-item-animation-duration: 1s;

.section {
  background-color: $pet-color;
}

.sectionContainer {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 16px;
  height: 640px;
  @include media(mobile) {
    width: $mobile;
  }
  @include media(tablet) {
    width: $tablet;
    height: 696px;
    padding: 0 32px;
  }
  @include media(desktop) {
    width: $desktop;
    height: 578px;
    padding: 0 64px;
  }
}

.brushAccent {
  color: $pet-color;
}
.boyAccent {
  color: $adult-color;
}
.catAccent {
  color: $child-color;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
    right: 100%;
  }
  100% {
    transform: translateX(100%);
    right: 100%;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0%);
    left: 100%;
  }
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}

.slideLeft {
  animation-name: slideLeft;
  animation-duration: $dialog-item-animation-duration;
  animation-fill-mode: forwards;
  position: absolute;
  z-index: 1;
  right: 100%;
}

.slideRight {
  animation-name: slideRight;
  animation-duration: $dialog-item-animation-duration;
  animation-fill-mode: forwards;
  position: absolute;
  z-index: 1;
  left: 100%;
}

.slide-1 {
  animation-delay: calc($dialog-item-animation-duration * 0);
  top: 48px;
  @include media(tablet) {
    top: 64px;
  }
}

.slide-2 {
  animation-delay: calc($dialog-item-animation-duration * 1);
  top: 216px;
  @include media(tablet) {
    top: 216px;
  }
  @include media(desktop) {
    top: 164px;
  }
}

.slide-3 {
  animation-delay: calc($dialog-item-animation-duration * 2);
  top: 320px;
  @include media(tablet) {
    top: 368px;
  }
  @include media(desktop) {
    top: 292px;
  }
}

.slide-4 {
  animation-delay: calc($dialog-item-animation-duration * 3);
  top: 515px;
  @include media(tablet) {
    top: 512px;
  }
  @include media(desktop) {
    top: 394px;
  }
}

@mixin animate-icon($_dialog-order-num) {
  @keyframes animate-icon {
    0% {
      transform: scale(20%);
    }
    100% {
      transform: scale(100%);
    }
  }

  animation: animate-icon;
  animation-duration: $dialog-item-animation-duration;
  animation-delay: calc(
    $dialog-item-animation-duration * ($_dialog-order-num - 1)
  );
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.iconWow {
  width: 104px;
  height: 64px;
  position: absolute;
  right: 64px;
  top: 139px;
  transform: scale(0);
  @include animate-icon(1);

  @include media(tablet) {
    width: 132px;
    height: 83px;
    left: 520px;
    top: 96px;
  }
  @include media(desktop) {
    left: calc(50% - 65px);
    top: 96px;
  }
}

.iconHello {
  position: absolute;
  width: 104px;
  height: 77px;
  right: 235px;
  top: 415px;
  transform: scale(0);
  @include animate-icon(3);

  @include media(tablet) {
    width: 132px;
    height: 83px;
    right: 41px;
    top: 363px;
  }
  @include media(desktop) {
    width: 132px;
    height: 83px;
    left: 80%;
    top: 308px;
  }
}
