.section {
  margin-top: 43px;
  margin-bottom: 178px;
  text-align: center;
  @include media(tablet) {
    margin-top: 48px;
    margin-bottom: 249px;
  }
}
.title {
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 900;
  color: $primary-text-color;
  @include font(36, 44);
  @include media(tablet) {
    @include font(48, 56);
    margin-top: 66px;
  }
}
.text {
  margin-bottom: 32px;
  font-weight: 500;
  color: #49494a;
  @include font(16, 24);
  @include media(tablet) {
    max-width: 577px;
    margin-left: auto;
    margin-right: auto;
  }
  @include media(desktop) {
    max-width: 873px;
  }
}
.linkButton {
  border: 1px solid rgba(31, 31, 31, 0.1);
  border-radius: 200px;
  padding: 12px 24px;
  background: $pet-color;
  font-weight: 500;
  color: $light-color;
  @include font(16, 24);
  @include media(tablet) {
    padding: 16px 40px;
  }
}
.animaContent {
  background-image: url('../../images/mobThanks.gif');
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  height: 177px;
  margin-bottom: 32px;
  @include media(tablet) {
    width: 577px;
    height: 227px;
  }
}
