.imageDiv {
  border: 1px solid $card-border-color;
  border-radius: 24px;
  padding-left: 15px;
  padding-right: 15px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imageDiv > img {
  width: 100%;
  height: auto;
}
