.imageDiv {
  border: 1px solid $card-border-color;
  border-radius: 24px;
  padding: 0 15px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    padding: 15px;
  }
}

.imgWrapper {
  @include media(desktop) {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.imageDiv > img {
  // width: 100%;
  // height: auto;
}
