.modalOverlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  border-radius: 8px;
  padding: 20px;
}

.modalImage {
  height: auto;
  border-radius: 8px;
}
