.iconSocial {
  fill: $pet-color;
  width: 36px;
  height: 35px;
  margin: 2.5px;
}

.iconsFooter {
  width: 208px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 32px;
  margin-top: 32px;
}
