$pet-color: #f5516f;
$adult-color: #0db5ea;
$child-color: #a395f1;
$primary-text-color: #1f1f1f;
$secondary-text-color: #797979;
$light-color: #ffffff;
$main-bg-color: #eff1f4;
$secondary-bg-color: #f3f5f7;
$error-text-color: #e98b1a;
$disabled-content-color: #a5a5a5;
$disabled-border-color: #1f1f1f1a;
$disabled-bg-color: #1f1f1f33;
$copyright-color: #636363;
$main-border-color: #1f1f1f33;
$card-border-color: #1f1f1f26;
$form-field-error-color: #ba1a1a;
$form-field-focus-border: #f5516f;
$form-field-placeholder-color: #a5a5a5;
