.navList {
  display: none;

  @include media(desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 575px;

    &Item:not(:last-child)::after {
      content: '';
      display: inline-block;
      width: 1px;
      background-color: $disabled-bg-color;
      border-radius: 10px;
      height: 16px;
      margin: 0 8px;
    }
  }
}

.navLink,
.activeNavLink {
  @include font(18, 28);
  margin: 0 16px;
}

.navLink {
  color: $primary-text-color;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.activeNavLink {
  color: $pet-color;

  &:hover,
  &:focus {
    color: $pet-color;
    cursor: pointer;
  }
}

// .activePage{}
