.picture {
  padding-bottom: 24px;
  @include media(tablet) {
    padding-bottom: 24px;
  }
  @include media(desktop) {
    padding-bottom: 32px;
  }
}
.article {
  @include media(desktop) {
    padding-left: 40px;
  }
}
