.priceWrapper {
  display: flex;
  column-gap: 12px;
}

.price {
  color: #49494a;
  @include font(16, 24);
}

.sale {
  color: $pet-color;
}

.oldPrice {
  color: $disabled-content-color;
  text-decoration: line-through;
  transform: translateY(-15%);
}
