.image {
  border: 1px solid rgba(31, 31, 31, 0.15);
  border-radius: 8px;
  width: 52px;
  height: 52px;
  @include media(tablet) {
    border-radius: 24px;
    width: 97px;
    height: 97px;
  }
  @include media(desktop) {
    width: 127px;
    height: 127px;
  }
}

.imageFocus {
  border: 1px solid rgba(31, 31, 31, 0.7);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 32px;
  height: 256px;
  overflow-y: hidden;
  @include media(tablet) {
    height: 460px;
    margin-bottom: 48px;
  }
  @include media(desktop) {
    height: 580px;
    margin-right: 64px;
  }
}

.imgListBlock {
  margin: 0;
}

// .imgContainer {
//   border: 1px solid rgba(31, 31, 31, 0.15);
//   border-radius: 24px;
//   width: 275px;
//   height: 256px;
//   @include media(tablet) {
//     width: 575px;
//     height: 460px;
//   }
//   @include media(desktop) {
//     width: 493px;
//     height: 580px;
//   }
// }

.imageList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 16px;
  overflow-y: scroll;
  @include media(tablet) {
    gap: 24px;
    margin-right: 32px;
  }
  @include media(desktop) {
    margin-right: 24px;
  }
}

.imgContainer {
  border: 1px solid rgba(31, 31, 31, 0.15);
  border-radius: 24px;
  width: 275px;
  height: 256px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  @include media(tablet) {
    width: 575px;
    height: 460px;
  }
  @include media(desktop) {
    width: 493px;
    height: 580px;
  }
}

.largeImage {
  height: 100%;
  width: auto;
}
