.div {
  max-width: 343px;
  overflow: auto;
  scrollbar-width: auto;

  @include media(tablet) {
    max-width: 704px;
  }
  @include media(desktop) {
    max-width: unset;
    min-width: 324px;
  }
}
.div::-webkit-scrollbar {
  height: 4px;
}
.div::-webkit-scrollbar-track {
  background: $secondary-bg-color;
}
div::-webkit-scrollbar-thumb {
  background-color: $disabled-content-color;
  border-radius: 4px;
  width: 200px;
}
.list {
  display: flex;
  gap: 24px;
  margin-bottom: 28px;

  @include media(desktop) {
    flex-direction: column;
    gap: 48px;
  }
}
.title {
  margin-bottom: 32px;
  font-weight: 500;
  color: #1f1f1f;
  @include font(32, 36);
}
.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 302px;
  height: 180px;
  border-radius: 24px;
  overflow: hidden;
}
.picture {
  width: 302px;
}
.itemTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 302px;
  margin-top: 16px;
  font-weight: 500;
  color: $primary-text-color;
  @include font(20, 28);
  @include media(tablet) {
    @include font(24, 32);
  }
}
