.btnCart{
    max-width: 50px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: transparent;
    border: 1px solid rgba(31, 31, 31, 0.20);;
    border-radius: 200px;
}

// .btnCart:hover,
// .btnCart:focus{
// }