.header {
  text-align: center;
  position: sticky;
  z-index: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-color;
  

  @include media(desktop){
    // padding-top: 24px;
    // padding-bottom: 24px;
    padding: 24px 64px;
  }
}

.rightSideWrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.btnBurgerMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: transparent;
  border: 1px solid #1F1F1F;
  border-radius: 200px;

  @include media(desktop){
    display: none;
  }
}