.section {
  margin-top: 118px;
  margin-bottom: 255px;
  text-align: center;
  @include media(tablet) {
    margin-top: 132px;
    margin-bottom: 269px;
  }
  @include media(desktop) {
    margin-top: 46px;
    margin-bottom: 199px;
  }
}
.title {
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 900;
  color: $primary-text-color;
  @include font(36, 44);
  @include media(tablet) {
    @include font(48, 56);
  }
}
.linkButton {
  width: 173px;
  margin-right: auto;
  margin-left: auto;
  padding: 12px 24px;
  font-weight: 500;
  color: $light-color;
  background: $pet-color;
  @include font(16, 24);
  & svg {
    fill: $light-color;
  }
  @include media(tablet) {
    @include font(18, 24);
    width: 216px;
  }
}
.linkButton:hover,
.linkButton:focus,
.linkButton:active {
  & svg {
    fill: $primary-text-color;
  }
}

.animation {
  margin: 0 auto;
  @include media(tablet) {
    width: 577px;
  }
}
